

.home-page {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #5b5656;
    color: #333;
    min-height: 100vh; 
  }
  
  .intro {
    max-width: 500px;
    text-align: center;
    background-color:#f5f5dc;
  }
  
  .intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #222;
  }
  
  .intro p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .catalog-link {
    margin-top: 30px;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }
  
  .catalog-link:hover {
    background-color: #0056b3;
  }
  
  