.auth-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:  #e0e0e0; 
}

#login-form {
  background-color: #ffffff; 
  border: 1px solid #ddd; 
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box; 
}

.form-container {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: #333; /* Darker color for the heading */
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
  display: block; /* Ensure labels appear above input fields */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Ensure padding does not cause overflow */
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Primary button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box; /* Ensure padding does not cause overflow */
}

.btn-submit:hover {
  background-color: #0056b3; /* Darker button color on hover */
}

.signup-link {
  text-align: center;
  margin-top: 15px;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
