.auth {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f5f5dc;
    border-radius: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    
  }
  
  .container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .container input,
  .container textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .container .btn.submit {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .container .btn.submit:hover {
    background-color: #0056b3;
  }
  .error {
    color: #ff4d4f; /* Red color to indicate error */
    font-size: 0.9em; /* Slightly smaller font size */
    margin-top: 5px; /* Space between input field and error message */
    margin-bottom: 10px; /* Space below the error message */
    display: block; /* Ensure error messages are displayed as block elements */
  }