.story-details {
  background-color: #f5f5dc;
  padding: 20px;
  max-width: 800px;
  margin: 40px auto;
  border-radius: 10px;
}

.info-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.story-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.story-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.story-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1; /* Allows the story-info to take remaining space */
}

.story-info h1 {
  font-size: 2em;
  margin: 0;
  text-align: center; /* Center the title */
}

.story-info .genre {
  font-size: 1.2em;
  margin: 5px 0;
  text-align: center; /* Center the genre */
}

.summary {
  margin-bottom: 20px;
  font-size: 1.1em;
}

.details-comments {
  margin-top: 20px;
}

.details-comments h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.details-comments ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.comment {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
  line-height: 1.5;
}

.comment .email {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.comment .text {
  color: #555;
}

.no-comment {
  color: #999;
}

.add-comment {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.add-comment h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.add-comment form {
  display: flex;
  flex-direction: column;
}

.add-comment textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

.add-comment .btn.submit {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  border-radius: 4px;
  cursor: pointer;
}

.add-comment .btn.submit:hover {
  background-color: #0056b3;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.buttons .button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.buttons .button:hover {
  background-color: #0056b3;
}

